<ion-content class="container">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-img class="gambarMacan" [src]="maungSource"></ion-img>
    </ion-row>

    <ion-row class="ion-justify-content-center" style="margin-bottom: 20px">
      <ion-text class="welcomeText">Selamat datang kembali!</ion-text>
    </ion-row>

   
    <ion-row class="ion-justify-content-center">
      <div class="textFieldContainer">
        <ion-input
          [(ngModel)]="usernameText"
          class="textInput"
          placeholder="Username"
        ></ion-input>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="textFieldContainer">
        <ion-input
          [(ngModel)]="passwordText"
          class="textInput"
          placeholder="Password"
          type="password"
        ></ion-input>
      </div>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-label
        style="
          color: #f3eac2;
          font-size: 14px;
          margin-bottom: 12px;
        "
        >{{errorText}}</ion-label
      >
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button
        (click)="onClickLogin()"
        color="secondary"
        style="width: 40%; --border-radius: 25px"
      >
        <ion-label style="font-weight: bold; color: black">MASUK</ion-label>
        
      </ion-button>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-label
        style="
          margin-top : 10px;
          color: black;
          font-size: 12px;
          margin-bottom: 12px;
        "
        (click)="toRegister()"
        >Belum memiliki akun? Yuk Buat Akun!</ion-label
      >
    </ion-row>
  </ion-grid>
</ion-content>
