<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-chip class="score">
        <ion-avatar>
          <img style="background-color: white" src="../../assets/score.png" />
        </ion-avatar>
        <ion-label style="color: #f3eac2">[score]</ion-label>
      </ion-chip>
      <ion-avatar class="profilePic">
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-img [src]="maungTrophyImage"></ion-img>
<ion-content>
  <!-- Jika score user masih 0 tampilkan halaman ini -->
  <div class="ion-text-center ion-padding-horizontal" [ngClass]="{
    'display-none' : showLeaderboard
  }">
    <ion-label style="font-size: 15px;">Yuk bermain bersama teman-teman dengan mulai memilih kategori di halaman Utama!</ion-label>
  </div>

  <!-- Jika score user tidak 0 tampilkan halaman ini -->
  <ion-grid fixed [ngClass]="{
    'display-none' : !showLeaderboard
  }">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <!-- punya orang lain -->
          <ion-item lines="none" class="custom-item-orange" *ngFor="let e of listLeaderboard">
            <ion-thumbnail class="profilePic" slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
            </ion-thumbnail>
            <ion-label>
              <p style="color: black">{{e.username}}</p>
              <p style="color: black">{{e.total_reward}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>