@import "../../assets/font/KGCorneroftheSky.scss";

$font-family : 'KG Corner of the Sky';

*{
  font-family: $font-family;
  font-size : 12px;
}

.header{
    padding : 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.score{
    background-color : #1F909F;
    height : 35px;
}

.profilePic{
    --border-radius : 50%;
    height : 45px;
    width : 45px;
}