@font-face {
    font-family: 'KG Corner of the Sky';
    src: url('KGCorneroftheSky.woff2') format('woff2'),
        url('KGCorneroftheSky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

